<div class="container">

    <div class="about-us" id="about">
        <h2>Introduce to SubmitToSheets</h2>
        <div class="text-cia">
            <p>There is a project that you can send all information by your formulary from a sheets by google.</p>
            <p>The idea here its learn about GoogleSheets API and practice Reactive Form, using the sheets as a database to save your data.</p>
            <!-- <p>To try, create a new sheets on google, set to sharable and put the link down. Or use my own sheets, just complete the form, send and click on link down. </p> -->
            <!-- <p class="text-center align-center ">
                Sheets Link:<input type="text" name="linkSheets"  [placeholder]="linkSheets">
                <br>
                <a class="text-center" [href]="linkSheets">
                    Click here to see
                </a>
            </p>  -->
        </div>
    </div>
</div>
