@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco');

html{
    scroll-behavior: smooth;
}

body{
    background-image: url("assets/img/bg-body.png");
    background-repeat: repeat;
    padding: 0;
    margin: 0;
    font-family: 'Sue Ellen Francisco', cursive;
    color: #505050;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
}



a{
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 1.5em;
    text-decoration: none;
    color: #505050;
}

.container{
    width: 80%;
    margin: auto;
}



@media (min-width: 320px){

    h2{
        font-size: 3em;
        margin: 15px 0px 0px 0px;
        padding: 0;
    }

    p{
        margin: -10px;
        font-size: 1.8em;
        line-height: 1.5;
    }

}



@media (min-width: 768px){

    p{
        font-size: 2.1em;
    }
    
}






